
<div class="container chatroom" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <h4 class="hclass"> <% if current_user.avatar.key.nil?%>
                <%= image_tag "https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80", height: 41, width: 50, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= cl_image_tag @chat_with_user.avatar.key, height: 410, width: 500, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
              <% end %>
               <%= @chat_with_user.first_name %> <code class="color-name"> <%= @chat_with_user.designer? ? "Designer" : "Client" %></code></h4>

  <div class="messages" data-chatroom-subscription-target="messages">

    <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>



  <%= simple_form_for [@chatroom, @message],
    html: {data: { action: "turbo:submit-end->chatroom-subscription#resetForm" },class: "d-flex"} do |f|
    %>
    <%# <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.id}",
      wrapper_html: {class: "flex-grow-1"}
    %>

    <%= f.text_field :content, class:"iput-fild" ,
      label: false,
      placeholder: "Message ##{@chatroom.id}",
      wrapper_html: {class: "flex-grow-1"}
    %>
     <%= f.submit "Send", class:"button send-butn" %>

  <% end %>

</div>
