<h1>presets</h1>

<% if @preset === nil  %>
 <h1>Bananas, nothing matched query</h1>
<% else %>

 <% @preset.items.each do |item| %>
    <%= cl_image_tag item.photo.key, height: 300, width: 400, crop: :fill %>
 <% end %>


<% end %>




<div class="d-flex">
  <h3 style="color:gray;">Pick your favorite style > Pick a room to design</h3>
  <h3 style="white-space: nowrap;" >> Pick a design<h3>
</div>

<div class="container d-flex justify-content-between">

  <div>
    <%= image_tag "Modern_LivingRoom/LivingRoom_Main.jpg", alt: "text", width: "800", height: "600" %>
  </div>

  <div class="title_menu" >
    <div class="sidebar">
      <h2>furniture</h2>
      <div class="card-product">
        <%= image_tag "Modern_LivingRoom/Closet_LivingRoom.jpg", alt: "text", width: "200", height: "200" %>
        <div class="card-product-infos">
          <h2>Closet</h2>
          <p>4 compartments, 3 slices and made of wood 100 x 40 x 120</p>
        </div>
      </div>

      <div class="card-product">
        <%= image_tag "Modern_LivingRoom/Coffee_table_LivingRoom.png", alt: "text", width: "200", height: "200" %>
        <div class="card-product-infos">
          <h2>Coffee Table</h2>
          <p>4 compartments, 3 slices and made of wood 100 x 40 x 120</p>
        </div>
      </div>

      <div class="card-product">
        <%= image_tag "Modern_LivingRoom/Lamp_LivingRoom.jpg", alt: "text", width: "200", height: "200" %>
        <div class="card-product-infos">
          <h2>Lamp</h2>
          <p>4 compartments, 3 slices and made of wood 100 x 40 x 120</p>
        </div>
      </div>

      <div class="card-product">
        <%= image_tag "Modern_LivingRoom/Coffee_Table_LivingRoom.jpg", alt: "text", width: "200", height: "200" %>
        <div class="card-product-infos">
          <h2>Coffee Table</h2>
          <p>4 compartments, 3 slices and made of wood 100 x 40 x 120</p>
        </div>
      </div>

      <div class="card-product">
        <%= image_tag "Modern_LivingRoom/Sofa_LivingRoom.jpg", alt: "text", width: "200", height: "200" %>
        <div class="card-product-infos">
          <h2>Sofa</h2>
          <p>4 compartments, 3 slices and made of wood 100 x 40 x 120</p>
        </div>
      </div>

      <h2>construction materials</h2>

      <div class="card-product">
        <%= image_tag "Modern_LivingRoom/Floor_LivingRoom.jpg", alt: "text", width: "200", height: "200" %>
        <div class="card-product-infos">
          <h2>Foor</h2>
          <p>4 compartments, 3 slices and made of wood 100 x 40 x 120</p>
        </div>
      </div>

      <div class="card-product">
        <%= image_tag "Modern_LivingRoom/White_Curtain_LivingRoom.jpg", alt: "text", width: "200", height: "200" %>
        <div class="card-product-infos">
          <h2>White Curtain</h2>
          <p>4 compartments, 3 slices and made of wood 100 x 40 x 120</p>
        </div>
      </div>

      <div class="card-product">
        <%= image_tag "Modern_LivingRoom/White_Paint_LivingRoom.jpg", alt: "text", width: "200", height: "200" %>
        <div class="card-product-infos">
          <h2>White Paint</h2>
          <p>4 compartments, 3 slices and made of wood 100 x 40 x 120</p>
        </div>
      </div>
    <div>

  </div>
</div>

