






<div class="container-fluid" data-controller="update-form">
  <form
    id="styles-form"
    action="submit"
    method="GET"
    data-update-form-target="form"
  >
    <fieldset>
      <legend class="style-legend">Pick your favourite style</legend>
        <div class="radio-container">


          <div class="style-card" data-action="click->update-form#scroll">
              <label for="card1">
              <input type="radio" id="card1" name="style" class="hide-checkbox" value="Modern">
                <%= image_tag "Favorite_Style/Modern_Style.jpg", class: "style-img" %>
                <h2 class="style-title">Modern</h2>
                <p class="style-description">Style description goes here.</p>
              </label>
          </div>

          <div class="style-card" data-action="click->update-form#scroll">
              <label for="card2">
              <input type="radio" id="card2" name="style" class="hide-checkbox" value="Minimalistic">
                <%= image_tag "Favorite_Style/Minimalistic_Style.jpg", class: "style-img" %>
                <h2 class="style-title">Minimalistic</h2>
                <p class="style-description">Style description goes here.</p>
              </label>
          </div>

          <div class="style-card" data-action="click->update-form#scroll">
              <label for="card3">
              <input type="radio" id="card3" name="style" class="hide-checkbox" value="Scandinavian">
                <%= image_tag "Favorite_Style/Scandinavian_Style", class: "style-img" %>
                <h2 class="style-title">Scandinavian</h2>
                <p class="style-description">Style description goes here.</p>
              </label>
          </div>

          <div class="style-card" data-action="click->update-form#scroll">
              <label for="card4">
              <input type="radio" id="card4" name="style" class="hide-checkbox" value="Industrial">
                <%= image_tag "Favorite_Style/Industrial_Style", class: "style-img" %>
                <h2 class="style-title">Industrial</h2>
                <p class="style-description">Style description goes here.</p>
              </label>
          </div>

          <div class="style-card" data-action="click->update-form#scroll">
              <label for="card5">
              <input type="radio" id="card5" name="style" class="hide-checkbox" value="Bohemian">
                <%= image_tag "Favorite_Style/Bohemian_Style", class: "style-img" %>
                <h2 class="style-title">Bohemian</h2>
                <p class="style-description">Style description goes here.</p>
              </label>
          </div>

          <div class="style-card" data-action="click->update-form#scroll">
              <label for="card6">
              <input type="radio" id="card6" name="style" class="hide-checkbox" value="Coastal">
                <%= image_tag "Favorite_Style/Coastal_Style", class: "style-img" %>
                <h2 class="style-title">Coastal</h2>
                <p class="style-description">Style description goes here.</p>
              </label>
          </div>

          <div class="style-card" data-action="click->update-form#scroll">
              <label for="card7">
              <input type="radio" id="card7" name="style" class="hide-checkbox" value="Traditional">
                <%= image_tag "Favorite_Style/Traditional_Style", class: "style-img" %>
                <h2 class="style-title">Traditional</h2>
                <p class="style-description">Style description goes here.</p>
              </label>
          </div>

          <div class="style-card" data-action="click->update-form#scroll">
              <label for="card8">
              <input type="radio" id="card8" name="style" class="hide-checkbox" value="Mid-century">
                <%= image_tag "Favorite_Style/Mid-century modern_Style", class: "style-img" %>
                <h2 class="style-title">Mid-century</h2>
                <p class="style-description">Style description goes here.</p>
              </label>
          </div>

          <div class="style-card" data-action="click->update-form#scroll">
              <label for="card9">
              <input type="radio" id="card9" name="style" class="hide-checkbox" value="Art deco">
                <%= image_tag "Favorite_Style/Art_deco_Style", class: "style-img" %>
                <h2 class="style-title">Art deco</h2>
                <p class="style-description">Style description goes here.</p>
              </label>
          </div>

          <div class="style-card" data-action="click->update-form#scroll">
              <label for="card10">
              <input type="radio" id="card10" name="style" class="hide-checkbox" value="Rustic">
                <%= image_tag "Favorite_Style/Rustic_Style", class: "style-img" %>
                <h2 class="style-title">Rustic</h2>
                <p class="style-description">Style description goes here.</p>
              </label>
          </div>

          <div class="style-card" data-action="click->update-form#scroll">
              <label for="card11">
              <input type="radio" id="card11" name="style" class="hide-checkbox" value="Shabby chic">
                <%= image_tag "Favorite_Style/Shabby_Chic_Style", class: "style-img" %>
                <h2 class="style-title">Shabby chic</h2>
                <p class="style-description">Style description goes here.</p>
              </label>
          </div>

          <div class="style-card" data-action="click->update-form#scroll">
              <label for="card12">
              <input type="radio" id="card12" name="style" class="hide-checkbox" value="Urban">
                <%= image_tag "Favorite_Style/Urban_Style", class: "style-img" %>
                <h2 class="style-title">Urban</h2>
                <p class="style-description">Style description goes here.</p>
              </label>
          </div>
        </div>




    </fieldset>

    <fieldset class="room-type" data-update-form-target="rooms" id="rooms">
      <legend class="room-legend"><span class="greyed-out">Pick your favourite style > </span>Pick a room to design</legend>

      <div class="radio-container2">

        <div class="room-card" data-action="click->update-form#submit">
            <label for="room1">
              <input type="radio" id="room1" name="room" class="hide-checkbox" value="Living room">
                <%= image_tag "Modern_Rooms/Modern_LivingRooms", class: "room-img" %>
                <h2 class="room-title">Living room</h2>
                <p class="room-description">Room description goes here.</p>
            </label>
        </div>

        <div class="room-card" data-action="click->update-form#submit">
            <label for="room2">
              <input type="radio" id="room2" name="room" class="hide-checkbox" value="Kitchen">
                <%= image_tag "Modern_Rooms/Modern_Kitchen", class: "room-img" %>
                <h2 class="room-title">Kitchen</h2>
                <p class="room-description">Room description goes here.</p>
            </label>
        </div>

        <div class="room-card" data-action="click->update-form#submit">
            <label for="room3">
              <input type="radio" id="room3" name="room" class="hide-checkbox" value="Bathroom">
                <%= image_tag "Modern_Rooms/Modern_Bathrooms", class: "room-img" %>
                <h2 class="room-title">Bathroom</h2>
                <p class="room-description">Room description goes here.</p>
            </label>
        </div>

        <div class="room-card" data-action="click->update-form#submit">
            <label for="room4">
              <input type="radio" id="room4" name="room" class="hide-checkbox" value="Bedroom">
                <%= image_tag "Modern_Rooms/Modern_BedRoom", class: "room-img" %>
                <h2 class="room-title">Bedroom</h2>
                <p class="room-description">Room description goes here.</p>
            </label>
        </div>

        <div class="room-card" data-action="click->update-form#submit">
            <label for="room5">
              <input type="radio" id="room5" name="room" class="hide-checkbox" value="Office">
                <%= image_tag "Modern_Rooms/Modern_office s", class: "room-img" %>
                <h2 class="room-title">Office</h2>
                <p class="room-description">Room description goes here.</p>
            </label>
        </div>

        <div class="room-card" data-action="click->update-form#submit">
            <label for="room6">
              <input type="radio" id="room6" name="room" class="hide-checkbox" value="Nook">
                <%= image_tag "Modern_Rooms/Modern_Nook", class: "room-img" %>
                <h2 class="room-title">Nook</h2>
                <p class="room-description">Room description goes here.</p>
            </label>
        </div>



      </div>
    </fieldset>
  </form>
</div>
